{% extends "../base.html" %}
{% block content %}
    <h2>NEARBY EVENTS IN {{ city }}</h2>
    <h2>Welcome back {{ name }}</h2>
    <h2>Welcome back {{ date_of_birth }}</h2>
    <br>
    <div class="d-flex gx-2">
        <input class="form-control me-2" type="text" placeholder="Title">
        <button class="btn btn-outline-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Type
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Concert</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
            <li><a class="dropdown-item" href="#">{{ name }}</a></li>
        </ul>
    </div>
    <br>
    <div class="list-group">
        {% for event in events %}
            <a href="#" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ event.event_type }}</h5>
                    <small>{{ event.date }}</small>
                </div>
                <p class="mb-1">{{ event.name }}</p>
                <small class="text-muted">{{ event.venue }}</small>
            </a>
        {% endfor %}
    </div>
{% endblock %}
