{% extends "../base.html" %}
{% block content %}
    <h2>MY UPCOMING EVENTS</h2>
    <div class="list-group">
        {% for event, venue in events %}
            <a href="#" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ event.0 }}</h5>
                    <small>{{ event.3 }}</small>
                </div>
                <p class="mb-1">{{ event.1 }}</p>
                <small class="text-muted">{{ venue }}</small>
            </a>
        {% endfor %}
    </div>
{% endblock %}
