{% extends "base.html" %}
{% block content %}
<h2 class="text-danger fw-bold">EVENT CATEGORIES PARTICIPATION REPORT</h2>
<div class="list-group">
    {% for event in events %}
        <a class="list-group-item list-group-item-action p-4">
            <div class="d-flex w-100 justify-content-between">
                <div>
                    <h3>{{ event.event_type }}</h3>
                    <h4 class="text-danger">Attended: {{ event.cnt }} times</h4>
                </div>
            </div>
        </a>
    {% endfor %}
</div>

<h2 class="text-danger fw-bold">THE MOST ATTENDED EVENT(S) IN {{ this_year }}</h2>
<div class="list-group">
    {% for event in most_attended %}
        <a class="list-group-item list-group-item-action p-4">
            <div class="d-flex w-100 justify-content-between">
                <div>
                    <h6>{{ event.event_type }}</h6>
                    <h4 class="text-danger">{{ event.name }}</h4>
                    <p class="mb-0">Description: {{ event.description }}</p>
                    <small class="text-muted">Location: {{ event.venue }}</small> <br>
                    <h4 class="text-danger">Attended: {{ event.cnt }} times</h4>
                </div>
                <div class="text-end">
                    <h6>{{ event.date }}</h6> <br>
                </div>
            </div>
        </a>
    {% endfor %}
</div>
<h2 class="text-danger fw-bold">THE LEAST ATTENDED EVENT(S) IN {{ this_year }}</h2>
<div class="list-group">
    {% for event in least_attended %}
        <a class="list-group-item list-group-item-action p-4">
            <div class="d-flex w-100 justify-content-between">
                <div>
                    <h6>{{ event.event_type }}</h6>
                    <h4 class="text-danger">{{ event.name }}</h4>
                    <p class="mb-0">Description: {{ event.description }}</p>
                    <small class="text-muted">Location: {{ event.venue }}</small> <br>
                    <h4 class="text-danger">Attended: {{ event.cnt }} times</h4>
                </div>
                <div class="text-end">
                    <h6>{{ event.date }}</h6> <br>
                </div>
            </div>
        </a>
    {% endfor %}
</div>
{% endblock %}